medgemma-env/
env/
venv/
ENV/
.venv/

# Cachés de Python y archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

.ipynb_checkpoints/

# Archivos de salida, backup o dumps temporales
*.bak
*.swp
*.tmp

*.env
.env.*
secrets.*
*.secret

